body {
  margin: 0;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 0.5fr 0.7fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header"
    "nav    main   aside";
}

/* Grid-Zuordnung */
header {
  grid-area: header;
  background: white;
  color: black;
  border-style:  solid;
  padding: 1rem;
}

nav {
  grid-area: nav;
  background: #ccc;
    padding: 1rem;
  }

main {
  grid-area: main;
  background: #eee;
    padding: 1rem;
}

aside {
  grid-area: aside;

  display: grid;
  grid-template-columns:0.4fr 1.0fr 1.0fr;
 
  gap: 0.5rem;
}
button {
  background: blue;
  color: white;
  border-style:  solid;
  border-color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
select {
  background: white;
  border-style:  solid;
   padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}   
#spalte1 {
  background: white;
  border-style: solid;
  border-color: red;
  text-align: center;
  padding: 0.5rem;
}#spalte2 {
  background: white;
  border-style: solid;
  border-color: red;
  text-align: center;
  padding: 0.5rem;
}#spalte3 {
  background: white;
  border-style: solid;
  border-color: red;
  text-align: center;
  padding: 0.5rem;
}