    button {
  background: blue;
  color: white;
  border-style:  solid;
  border-color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
 form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 300px;
  margin: 10px auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;  
  }
  input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 16px;  
  border: 1px solid #ccc;
  }
  h3 {
  margin: 0em;
  margin-bottom: 1em;
  }